.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(15, 22, 33, 0.5);
    z-index: 100000 !important;
}

.modal-content {
    position: fixed;
    padding: 20px;
    min-width: 350px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-support-color);
    color: var(--text-support-color);
    border-radius: 10px;
}