.room-list {
    position: relative;
    height: 81vh;
    overflow-y: scroll;
    background-color: var(--bg-support-color);
    border-radius: 10px;
    -webkit-box-shadow: 0px -1px 8px 0px var(--box-shadow);
    -moz-box-shadow: 0px -1px 8px 0px var(--box-shadow);
    box-shadow: 0px -1px 8px 0px var(--box-shadow);
}

.room-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    border-radius: 3px;
    color: var(--text-dark-color);
}

.heading {
    margin-right: 20px;
}

.room-list__utils {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid var(--separate-color);
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    color: var(--text-support-color);
}

.tab {
    cursor: pointer;
    padding: 8px;
    line-height: 0;
    font-size: 20px;
    margin-right: 10px;
    color: var(--bg-main-color);
    border-radius: 100%;
    transition: 0.2s linear;
}

.tab.active {
    background-color: var(--active-tab);
}

.tab:hover {
    background-color: var(--active-tab);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}