.navigation {
    display: flex;
    width: 6%;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-main-color);
    color: var(--text-main-color);
    -webkit-box-shadow: 0px -1px 8px 0px var(--box-shadow);
    -moz-box-shadow: 0px -1px 8px 0px var(--box-shadow);
    box-shadow: 0px -1px 8px 0px var(--box-shadow);
    border-radius: 10px;
}

.icons-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.link.active {
    background-color: var(--active-tab);
    border-right: 5px solid orange;
}

.avatar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.link {
    display: block;
    padding: 5px;
    margin-bottom: 37px;
    border: 5px solid transparent;
}

.navigation button:last-child {
    margin-bottom: 0;
}

.burger {
    font-size: 20px;
    cursor: pointer;
    color: var(--icon-color);
}

.btn-more {
    display: flex;
    align-items: center;
}

.name {
    margin-left: 10px;
}

.icons-data {
    display: flex;
    flex-direction: column;
}

.icon {
    font-size: 38px;
    color: var(--text-main-color);
}

.logout {
    margin-top: auto;
}