.message-item {
   position: relative;
   display: flex;
   margin-bottom: 50px;
   justify-content: center;
}

.message-data {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 3px 10px;
    color: var(--text-dark-color);
    background: var(--message-recipient-color);
    max-width: 500px;
    border-radius: 10px 10px 10px 0px;
    word-wrap: break-word;
}

.message-item.type-image .message-data {
    background-color: transparent !important;
    color: var(--text-dark-color) !important;
}

.message-item.type-image .message-data .image {
   border-radius: 10px;
}

.message-item.my {
    padding-right: 30px;
    margin-left: auto;
}


.message-item.my .message-data {
    padding-right: 10px;
    background: var(--bg-main-color);
    color: var(--text-light-color);
    border-radius: 10px 10px 0px 10px;
}

.message-item.my .file {
    color: var(--text-light-color);
}

.avatar {
    margin-right: 10px;
}

.user-data {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--group-sender-color);
    cursor: pointer;
}

.name {
    margin-right: 5px;
}

.date {
    position: absolute;
    bottom: -25px;
    right: 10px;
    font-size: 12px;
    color: var(--date-color);
}

.readed  {
    position: absolute;
    bottom: -9px;
    right: 33px;
    font-size: 20px;
    color: var(--date-color);
}

.image {
    height: 300px;
}

.file {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--text-support-color);
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.file-text {
    margin-left: 10px;
}

.size {
    font-size: 12px;
    font-weight: 300;
}


.icon {
    padding: 3px;
    border-radius: 100%;
    background-color: var(--text-support-color);
    font-size: 30px;
}

