.message-item {
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.message-data {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 3px 10px;
    color: var(--text-main-color);
    background: var(--message-recipient-color);
    min-width: 80px;
    max-width: 500px;
    margin-bottom: 5px;
    border-radius: 3px;
    word-wrap: break-word;
}

.message-item.my {
    margin-left: auto;
}

.message-item.my .message-data {
    background: var(--message-self-color);
}

.avatar {
    margin-right: 10px;
}

.user-data {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--group-sender-color);
    cursor: pointer;
}

.name {
    margin-right: 5px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 12px;
    color: var(--date-color);
}

.readed  {
    position: absolute;
    bottom: -5px;
    right: 45px;
    font-size: 20px;
    color: var(--text-main-color);
}

