.avatar-data {
    position: relative;
    overflow: hidden;
}

.avatar {
    max-width: 100%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.avatar.small {
    width: 30px;
    height: 30px;
}

.avatar.middle {
    width: 50px;
    height: 50px;
}

.avatar.large {
    width: 80px;
    height: 80px;
}

.online {
    position: absolute;
    display: block;
    bottom: 3px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: green;
}