.room-data {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.room-data-head {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.heading {
    margin-bottom: 10px;
}

.participants {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-left: 10px;
}

.subtitle {
    font-size: 14px;
    color: var(--icon-color)
}

.controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.control {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--text-dark-color);
}

.control-icon {
    margin-right: 20px;
    font-size: 25px;
    color: var(--icon-color);
}

.control-text {
    color: var(--text-support-color);
    font-weight: bold;
}

.tabs {
    display: flex;
    margin: 0 auto;
    border-top: 1px solid var(--separator-color);
}

.users {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 200px;
    overflow-y: scroll;
}

.tabs.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    border-radius: 10px;
}

.tabs.files {
    width: 80%;
    flex-direction: column;
}

.tab img {
    height: 100px;
}

.tab.files {
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--bg-main-color);
    cursor: pointer;
    color: var(--text-light-color);
    border-radius: 10px;
}

.heading {
    text-align: center;
    margin-bottom: 10px;
}

.participants-heading {
    text-align: center;
    margin-bottom: 10px;
}

