.room-header {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 95%;
    padding: 10px;
    border-bottom: 1px solid var(--separate-color);
    background-color: var(--bg-support-color);
    color: var(--text-main-color);
    transition: 0.2s all;
    border-radius: 10px 10px 0px 0px;
}

.user-data {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    align-items: start;
}

.status {
    color: var(--text-support-color);
    font-weight: 300;
    font-size: 15px;
}

.icon {
    width: 25px;
    height: 25px;
}

.data {
    display: flex;
    align-items: center;
}
.title {
    font-size: 18px;
    font-weight: bold;
}

.utils {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.utils img {
    margin-right: 15px;
}

.title {
    color: var(--text-support-color);
    cursor: pointer;
}

.more {
    padding: 5px;
    border-radius: 5px;
    color: var(--icon-color);
    font-size: 25px;
    cursor: pointer;
}

.icon {
    color: var(--icon-color);
    color: var(--text-main-color);
}