.form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--bg-main-color);
    margin-bottom: 15px;
}