.form {
    display: flex;
    flex-direction: column;
    /* position: relative;
    display: flex;
    margin-top: 5px;
    margin-top: auto;
    border-radius: 10px; */
}

.picker {
    position: absolute;
    left: 20px;
    bottom: 81px;
}

.typing {
    color: var(--text-support-color);
    font-weight: 300;
    padding-left: 21px;
}

.form-controls {
    position: relative;
    display: flex;
    padding-right: 15px;
    margin-top: 5px;
    margin-top: auto;
    border-radius: 10px;
}

.micro {
    width: 25px;
    height: 25px;
}

.submit {
    font-size: 30px;
}

.smile {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 27px;
    top: 13px;
}

.file {
    position: absolute;
    top: 0px;
    right: 55px;
    margin-right: 20px;
}

.input-field {
    padding: 15px 15px 15px 45px;
    margin-right: 15px;
    width: 100%;
    font-size: 18px;
    border: none;
    resize: none;
    border-radius: 10px;
    background-color: var(--bg-base-color);
    caret-color: var(--text-support-color);
}

.preview-container {
    position: absolute;
    display: flex;
    bottom: 100px;
    padding: 10px;
    flex-direction: column;
    overflow: hidden;
    align-items: start;
}

.preview-image {
    height: 150px;
    overflow: hidden;
}

.close-preview {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.close {
    font-size: 20px;
    margin-left: 10px;
}

.close-preview svg {
    color: var(--ui-danger-color);
}

.file-preview {
    padding: 10px;
    border: 1px solid var(--icon-color);
    font-size: 20px;
    color: var(--text-support-color);
}

.audio-container {
    position: absolute;
    right: 0;
    bottom: 55px;
}


.close {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 23px;
    color: var(--ui-danger-color);
    cursor: pointer;
}
.reply-message {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: var(--bg-main-color);
}
.reply-data {
    color: var(--text-light-color);
    margin-left: 10px;
}

.reply-fullname {
    color: var(--success-color);
}

.reply-icon {
    color: var(--text-light-color);

}

.close-reply {
    margin-left: auto;
    cursor: pointer;
    color: var(--text-light-color);
}