.textarea {
    resize: none;
    background-color: var(--bg-base-color);
    color: var(--text-support-color);
    outline: none;
}

.textarea::placeholder {
    vertical-align: bottom;
    font-size: 17px;
    color: var(--text-support-color);
}