.message-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    height: 70vh;
    overflow-y: scroll;
    background-color: var(--bg-support-color);
    /* background-image: url("https://gas-kvas.com/uploads/posts/2023-03/1678092908_gas-kvas-com-p-krasivii-fon-na-risunke-kota-17.jpg"); */
    /* background-image: url("https://catherineasquithgallery.com/uploads/posts/2023-01/1674253603_catherineasquithgallery-com-p-fon-vatsap-serii-foto-27.jpg"); */
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}