.room-page {
    position: relative;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    flex: 1;
    border-radius: 10px;
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    background-color: var(--bg-support-color);
}

.more-messsage {
    position: absolute;
    width: 100%;
    z-index: 10;
    opacity: 0.3;
    top: 75px;
    border-radius: 0;
}