.input {
    font-size: 17px;
    background-color: var(--bg-support-color);
    color: var(--text-support-color);
    border: none;
    outline: none;
}

.input::placeholder {
    color: var(--placeholder-color);
}

.file {
    width: 30px;
    height: 30px;
    padding: 10px;
    color: var(--text-support-color);
    cursor: pointer;
}

.input-file {
    display: none;
}

.label {
    display: flex;
    align-items: center;
    cursor: pointer;
}