.input {
    font-size: 17px;
    color: var(--text-support-color);
    border: none;
    outline: none;
}

.file {
    width: 30px;
    height: 30px;
    padding: 10px;
    color: var(--text-support-color);
    cursor: pointer;
}

.input-file {
    display: none;
}