.button {
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    color: var(--text-main-color);
    transition: 0.2s all;
}

.button.primary {
    background-color: var(--bg-main-color);
}

.button.danger {
    background-color: var(--ui-danger-color);
}

.button.transparent {
    background-color: transparent;
}


.button.primary:hover {
    background-color: var(--button-hover);
}

.button.primary:active {
    transform: translateY(1px);
}